[Desktop Entry]
Type=Application
Icon=$HOME/projects/jellyfin-frontend/assets/tokyo-music-icon-512.png
Name=Tokyo Music
GenericName=Custom Jellyfin frontend for audio.
Exec=fanos-launch-webapp "http://jellyfin.bush.home.arpa:8097/#/home"
StartupNotify=false
Categories=Media;
